parameters:
  # Disable all phpstan rules.
  customRulesetUsed: true
  excludePaths:
    - /app/vendor/*
    - */assets/src/lib/campaignmonitor/samples/*
    - */tests/*
    - */bootstrap/scripts/*
  scanDirectories:
    - /app
  fileExtensions:
    - php
    - theme
    - inc
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - message: '#^Calling debug_backtrace\(\) is forbidden, please change the code$#'
      count: 1
      path: /app/web/themes/custom/bootstrap/src/Bootstrap.php
    - message: '#^Calling print_r\(\) is forbidden, please change the code$#'
      count: 1
      path: /app/web/themes/custom/bootstrap/src/Bootstrap.php
  disallowedStaticCalls:
    - method: 'Drupal::httpClient()'
      message: 'please change the code'
  disallowedNamespaces:
    - class: 'GuzzleHttp\Client'
      message: 'please change the code'
