parameters:
  excludePaths:
    - /app/vendor/*
  scanDirectories:
    - /app
  level: 0
  fileExtensions:
    - php
    - theme
    - inc
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - "#Function (.*) not found#"
    - "#^Call to static method (.*) on an unknown class (.*)$#"
    - "#^Static call to instance method (.*)$#"
    - "#^Unsafe usage of new static\\(\\)\\.$#"
    - "#^Method (.*) should return bool but return statement is missing\\.$#"
    - message: "#^Should not use function \"debug_backtrace\", please change the code\\.$#"
      count: 1
      path: themes/bootstrap/src/Bootstrap.php
    - message: "#^Should not use function \"print_r\", please change the code\\.$#"
      count: 1
      path: themes/bootstrap/src/Bootstrap.php
  bootstrapFiles:
    - classPHPStanAliases.php
  banned_code:
    nodes:
      - type: Expr_FuncCall
        functions:
          - curl_exec
          - curl_multi_exec
          - dd
          - debug_backtrace
          - dump
          - escapeshellcmd
          - exec
          - ftp_connect
          - ftp_exec
          - ftp_get
          - ftp_login
          - ftp_nb_fput
          - ftp_put
          - ftp_raw
          - ftp_rawlist
          - passthru
          - phpinfo
          - popen
          - posix_getpwuid
          - posix_kill
          - posix_mkfifo
          - posix_setpgid
          - posix_setsid
          - posix_setuid
          - posix_uname
          - print_r
          - proc_open
          - proc_get_status
          - proc_terminate
          - proc_close
          - proc_nice
          - shell_exec
          - system
          - var_dump
